aioquic==1.2.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.11.1
attrs==25.4.0
bcrypt==5.0.0
beautifulsoup4==4.14.3
blinker==1.9.0
brotli==1.2.0
certifi==2026.1.4
cffi==2.0.0
click==8.4.1
cryptography==46.0.3
flask==3.1.3
h11==0.16.0
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.11
itsdangerous==2.2.0
jinja2==3.1.6
kaitaistruct==0.11
ldap3==2.9.1
markupsafe==3.0.3
mitmproxy==12.2.3
mitmproxy-linux==0.12.9
mitmproxy-rs==0.12.9
msgpack==1.1.2
outcome==1.3.0.post0
packaging==25.0
psutil==7.2.2
publicsuffix2==2.20191221
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.23
pylsqpack==0.3.24
pyopenssl==25.3.0
pyparsing==3.3.1
pyperclip==1.11.0
pysocks==1.7.1
ruamel-yaml==0.19.1
selenium==4.39.0
selenium-wire-lw==3.0.2
service-identity==24.2.0
setuptools==80.9.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.1
tornado==6.5.5
trio==0.32.0
trio-websocket==0.12.2
typing-extensions==4.15.0
undetected-geckodriver-lw==2.1.0
urllib3==2.6.3
urwid==3.0.5
wcwidth==0.8.0
websocket-client==1.9.0
werkzeug==3.1.8
wsproto==1.3.2
yt-dlp==2025.12.8
zstandard==0.25.0
zstd==1.5.7.3
